//width of containers
$main-container-width: 1600px;
$container-width:  1170px;
$container-width-numeric: 1170;

//color
$accent-color: #fa7c30;
$main-color: #161418;
$extra-color: #ffffff;
$light-color: #8a8b8d;
$background-color: #f1f4f6;

//fonts 
$main-font: "Open Sans", sans-serif;

//font-size
$small-text: 0.875rem;