@import "_variables.scss";

.offers {
    display: flex;
    height: 437px;
    font-family: $main-font;
    &__item {
        width: 50%;
        text-align: center;
        &:first-child {
            background-image: url(../img/offers-background-1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:last-child {
            background-image: url(../img/offers-background-2.jpg);
        }
    }
    .offer__title {
        text-transform: uppercase;
        color: $extra-color;
        font-weight: 700;
        &_small {
            margin-top: 128px;
            font-size: 1.125rem;
        }
        &_large {
            margin-top: 25px;
            margin-bottom: 40px;
            font-size: 2.875rem; 
        }
        @media (max-width: 407px) {
            &_large {
                font-size: 1.75rem;
            }
        }
    }

}